.blog{
    background: black;
    text-align: center;
    padding: 5rem;
    font-family: sans-serif;
}

.message{
    color: white;
}
.icons{
    color:black;
    font-size: larger;
  }
.home{
    padding:2rem;
    padding-left: 12rem;
    color:whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

.color{
    color: orangered;
}

.home .home-content .text-1{
    color: wheat;
    font-size: 27px;
}
.home .home-content .text-2{
    color: whitesmoke;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .icons{
    margin: 15px 0;
}

.home .home-content .icons i{
    margin-right: 20px;
    color: #111;
    transition: all 0.3s ease;
}

.home .home-content .icons i:hover{
    transform: scale(1.50);
}

.about{
    padding: 7rem;
    color:white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.p-about{
    word-spacing: 1px;
    letter-spacing: 1px;
}

#list{
    padding-left: 5rem;
}

.skills{
    font-weight: bolder;
    font-size:35px;
}
.highlight{
    padding:1rem;
    font-weight: bold;
    font-size: larger;
    color: gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.list{
    margin-left: 2rem;
}

.list-text{
    color: gray;
    margin-left: 1rem;
    margin-top: 4px;
}
.languages{
    margin-left: 2rem;
    font-size:40px;
}



/*Responsive media query*/
@media(max-width: 480px){
    .home{
        padding: 5rem;
        padding-left: 5rem;
    }

    .about{
        padding: 5rem;
        padding-left: 5rem;
    }
}
